Settimana 5 - Spring Boot/22-05-2025/progetto-utente-todo/src/main/resources/application.properties
Settimana 5 - Spring Boot/25-07-2025/project-security/project-security/src/main/resources/application.properties
